################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UseCase1/bin/Debug/net6.0
/.vs/ProjectEvaluation
/.vs/UseCase1/config/applicationhost.config
/.vs/UseCase1/FileContentIndex
/.vs
/UseCase1/obj
/UseCase1/appsettings.Development.json
/Tests/bin/Debug/net6.0
/Tests/obj
